{% extends 'base.html.twig' %}

{% block title %}{{ website }}{% endblock %}

{% block body %}
<img src="{{ asset('images/health2wealth/logo.png') }}" alt="Logo">
<p>Welcome to {{ website }} website!</p>
{% endblock %}