{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}
{% extends 'navbar.html.twig' %}
<p>Whoops! Looks like there has been an accident in the vast ocean of cyberspace. Our digital divers were unable to retrieve your page and now need rescuing. </p>
<br>
<p>Keep Calm!<\p>
<p>How to Stay Afloat:</p>
<ol>
<li>Double-check the URL – Typos happen, even to the best of us.</li>
<li>Take a deep breath and try again – Sometimes, a digital hiccup is just a hiccup.</li>
<li>Call the digital coast guard – If all else fails, alert the nearest tech-savvy dolphin.</li>
{% endblock %}




