{% extends 'compuhelp-base.html.twig' %}

{% block title %}About Me{% endblock %}

{% block page %}
  <!-- Breadcrumbs-->
  <section class="breadcrumbs-custom bg-image">
    <div class="shell">
      <p class="heading-1 breadcrumbs-custom-title">About Me</p>
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active">About Me</li>
      </ul>
    </div>
  </section>

  <!-- René Lanteigne -->
  <section class="section section-lg bg-white text-left">
    <div class="shell shell-bigger">
      <div class="range range-ten range-lg-justify">
        <div class="cell-lg-3">
          <div class="range range-70 range-sm-middle">
            <div class="cell-sm-6 cell-lg-12"><img src="{{asset('images/compuhelp/rene.lanteigne.jpg')}}" alt="" width="420" height="420"/>
            </div>
            <div class="cell-sm-6 cell-lg-12 text-sm-left">
              <h6>Get in Touch</h6>
              <!-- RD Mailform-->
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="/index.php/email">
                <div class="range range-20">
                  <div class="cell-sm-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-name">First name</label>
                      <input class="form-input" id="form-1-name" type="text" name="name" data-constraints="@Required"/>
                    </div>
                  </div>
                  <div class="cell-sm-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-email">E-mail</label>
                      <input class="form-input" id="form-1-email" type="email" name="email" data-constraints="@Email @Required"/>
                    </div>
                  </div>
                  <div class="cell-xs-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-message">Message</label>
                      <textarea class="form-input" id="form-1-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="cell-xs-12 offset-custom-1">
                    <div class="form-button">
                      <button class="button button-primary" type="submit">send message</button>
                    </div>
                    <div class="text-center" >
                      <ul class="inline-list-xs p-5 g-5">
                        <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="https://www.facebook.com/rene.lanteigne.1"></a></li>
                        <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="https://twitter.com/jatrade35"></a></li>
                        <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="https://www.linkedin.com/in/rene-lanteigne/"></a></li>
                      </ul>
                    </div>  
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="cell-lg-6">
          <div class="range range-120">
            <div class="cell-xs-12">
              <div class="heading-5">Owner Consultant</div>
              <h3>René Lanteigne</h3>
              <div class="divider divider-default"></div>
              <p class="text-spacing-sm">My professional journey reflects a lifetime of diverse experiences and a relentless pursuit of knowledge. It all began in 1980, at the age of 14, when I delved into the world of computer programming. Fast forward to 1982, and I secured my first role as a computer technical support agent at the Ottawa School Board of Education. My path took unexpected turns, including a stint in digital electronics engineering and small engine mechanics, showcasing my curiosity and adaptability.</p>
              <p class="text-spacing-sm">Over the years, I've worn many hats – from VP of HR, Marketing, and Sales to roles in education as a Course Supervisor. In 2002, fueled by a passion for technology, I founded CompuHelp Enterprises, a company dedicated to assisting individuals with their software and hardware challenges. I've contributed to diverse industries, from real estate and construction to software development in the aerospace industry at CAE, where I spent over a decade as a software developper and test engineer. I then transitionned to Software Product Management where I led a team of software developers to create and maintain the OMNIalert mass notification system. In 2024, I embarked on a new chapter, bringing my wealth of experience to Formatio as the VP of IT Operations, further solidifying my commitment to innovation and leadership in the tech sector.</p>
              <div class="range text-center range-md range-30 range-xxs-center">
                <div class="cell-xxs-6 cell-xs-4">
                  <div class="progress-bar-circle" data-value="0.75" data-gradient="#1cd8c9, #1cd8c9" data-empty-fill="rgb(242,243,249)" data-size="140" data-thickness="6"><span class="radial">5</span></div>
                  <div class="heading-5">Programming</div>
                </div>
                <div class="cell-xxs-6 cell-xs-4">
                  <div class="progress-bar-circle" data-value="0.50" data-gradient="#1cd8c9, #1cd8c9" data-empty-fill="rgb(242,243,249)" data-size="140" data-thickness="6"><span class="radial">5</span></div>
                  <div class="heading-5">Strategy</div>
                </div>
                <div class="cell-xxs-6 cell-xs-4">
                  <div class="progress-bar-circle" data-value="0.25" data-gradient="#1cd8c9, #1cd8c9" data-empty-fill="rgb(242,243,249)" data-size="140" data-thickness="6"><span class="radial">5</span></div>
                  <div class="heading-5">Design</div>
                </div>
              </div>
            </div>
            <div class="cell-xs-12">
              <div class="range range-70">
                <div class="cell-sm-6">
                  <h6>Skills</h6>
                  <p>Software Engineering, Product Management, Change Management, IT Architecture<br class="veil reveal-xl-block"/> strategy, communication, coaching, SCRUM
                  </p>
                </div>
                <div class="cell-sm-6">
                  <h6>Certificates</h6>
                  <ul class="list list-xxs text-spacing-sm">
                    <li>2023 — Meta Android Developer Professional</li>
                    <li>2022 — Agile Leader</li>
                    <li>2022 — Scrum Master</li>
                    <li>2017 — Lean Six-Sigma Black Belt</li>
                    <li>2015 — Agile Product Manager</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if not testimonials is empty   %}
    <twig:compuhelp-testimonials testimonials="{{testimonials}}" layout="2" />
  {% endif %}
  <!-- CTA Gradient-->
  <section class="section section-md text-center text-sm-left bg-gray-darker">
    <div class="shell-wide">
      <div class="range range-50 range-xs-center">
        <div class="cell-xl-8">
          <div class="box-cta box-cta-inline">
            <div class="box-cta-inner">
              <h3 class="box-cta-title">Do you need a consultation?</h3>
              <p>I specialize in delivering cutting-edge software solutions and expert IT consulting services, ensuring that your business not only meets but exceeds its technological goals with innovation, efficiency, and seamless integration.</p>
            </div>
            <div class="box-cta-inner"><a class="button button-primary" href="https://calendly.com/jatrade35-r40/30min" target="_blank" >Schedule a free consultation</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}