{% extends 'compuhelp-base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block page %}
<section class="section section-lg bg-white">
<div class="shell-wide">
<div class="range range-xs-center">
    <div class="cell-md-10 cell-lg-8 cell-xl-6 sections-collapsable">
        <article class="post-blog-article">
            <h3 class="Search_title text-center" >{{title}}</h3>
            <br/><h5>Introduction</h5>
            <p><strong>Les Entreprises Compuhelp</strong> ("Je", "moi", "mon") respecte votre vie privée et s'engage à protéger vos informations personnelles. Cette politique de confidentialité décrit la manière dont nous collectons, utilisons, divulguons et protégeons vos informations lorsque vous visitez notre site Web [URL du site Web] (« Site »). Cette politique est conforme à la Loi sur la protection des renseignements personnels et les documents électroniques (LPRPDE) au niveau fédéral au Canada, et au Québec, elle adhère à la loi 25, également connue sous le nom de Loi modernisant les dispositions législatives en matière de protection des renseignements personnels.</p>
            <br/><h5>Informations que je collecte</h5>
            <p>Je collecte des informations personnelles et non personnelles vous concernant lorsque vous visitez mon site, vous inscrivez sur mon site, passez une commande, vous abonnez à ma newsletter, répondez à une enquête ou remplissez un formulaire.</p>
            <br/><h5>Informations personnelles</h5>
            <p>Les informations personnelles sont des données qui peuvent être utilisées pour identifier ou contacter une seule personne. Les types d'informations personnelles que nous pouvons collecter incluent, sans s'y limiter :

Nom
Adresse e-mail
Adresse postale
Numéro de téléphone
Informations non personnelles
Les informations non personnelles sont des données sous une forme qui ne permettent pas, à elles seules, une association directe avec un individu spécifique. Nous pouvons collecter des informations non personnelles concernant votre navigateur, ordinateur, appareil mobile ou autre appareil que vous utilisez pour accéder à notre site. Ces informations peuvent inclure votre adresse IP, votre type de navigateur, vos noms de domaine, vos heures d'accès et les adresses des sites Web de référence.</p>
            <br/><h5>Comment j'utilise vos informations</h5>
            <p>Compuhelp Enterprises utilise les informations recueillies auprès de vous à diverses fins :

Pour personnaliser votre expérience
Pour améliorer mon site
Pour améliorer le service client
Pour traiter les transactions
Pour administrer un concours, une promotion, une enquête ou toute autre fonctionnalité du site
Pour envoyer des e-mails périodiques
Vos informations, qu'elles soient publiques ou privées, ne seront pas vendues, échangées, transférées ou cédées à toute autre société pour quelque raison que ce soit, sans votre consentement, autre que dans le but exprès de livrer le produit acheté ou le service demandé.
            </p>
            <br/><h5>Comment je protège vos informations</h5>
            <p>Je mets en &#339;uvre diverses mesures de sécurité pour maintenir la sécurité de vos informations personnelles lorsque vous passez une commande ou saisissez, soumettez ou accédez à vos informations personnelles. Ces mesures sont conformes aux exigences de la loi 25 en matière de protection des informations personnelles.</p>
            <br/><h5>Sharing Your Personal Information</h5>
            <p>Je ne vends, n'échange ni ne loue les informations d'identification personnelle des utilisateurs à des tiers. Nous pouvons partager des informations démographiques génériques agrégées non liées à des informations d'identification personnelle concernant les visiteurs et les utilisateurs avec mes partenaires commerciaux, mes affiliés de confiance et mes annonceurs aux fins décrites ci-dessus.</p>
            <br/><h5>Votre consentement</h5>
            <p>En utilisant mon site, vous consentez à ma politique de confidentialité.</p>
            <br/><h5>Modifications de ma politique de confidentialité</h5>
            <p>Les Entreprises Compuhelp a le pouvoir discrétionnaire de mettre à jour cette politique de confidentialité à tout moment. Lorsque nous le ferons, nous réviserons la date mise à jour au bas de cette page. Nous encourageons les utilisateurs à consulter fréquemment cette page pour tout changement afin de rester informés de la manière dont nous contribuons à protéger les informations personnelles que nous collectons. Vous reconnaissez et acceptez qu'il est de votre responsabilité de consulter périodiquement cette politique de confidentialité et de prendre connaissance des modifications.</p>
            <br/><h5>Vos droits</h5>
            <p>En vertu de la loi 25, vous avez le droit d'accéder, de mettre à jour et de corriger les inexactitudes de vos informations personnelles sous ma garde et mon contrôle, sous réserve de certaines exceptions prescrites par la loi. Vous pouvez demander l'accès, la mise à jour et la correction d'inexactitudes dans d'autres informations personnelles que nous avons sous ma garde ou sous mon contrôle en nous envoyant un e-mail ou en nous écrivant aux coordonnées indiquées ci-dessous.</p>
            <br/><h5>Me joindre</h5>
            <p>Si vous avez des questions concernant cette politique de confidentialité, les pratiques de ce site ou vos relations avec ce site, veuillez me contacter aux:
Entreprises Compuhelp
+1 514 806-2982
<a href="/fr/contacts">Formulaire de contact</a></p>
            <p>Ce document a été mis à jour le 11 mars 2024</p>
        </article>
    </div>
</div>
<div>
</section>
{% endblock %}
