{% extends 'compuhelp-base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block page %}
<section class="section section-lg bg-white">
<div class="shell-wide">
<div class="range range-xs-center">
    <div class="cell-md-10 cell-lg-8 cell-xl-6 sections-collapsable">
        <article class="post-blog-article">
            <h3 class="Search_title text-center" >Privacy Policy</h3>
            <br/><h5>Introductions</h5>
            <p><strong>Compuhelp Enterprises</strong> ("I", "me", "my")  respects your privacy and is committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website [Website URL] ("Site"). This policy is in accordance with the Personal Information Protection and Electronic Documents Act (PIPEDA) at the federal level in Canada, and in Quebec, it adheres to Law 25, also known as the Act to modernize legislative provisions as regards the protection of personal information.</p>
            <br/><h5>Information I Collect</h5>
            <p>I collect both personal and non-personal information from you when you visit my Site, register on my Site, place an order, subscribe to my newsletter, respond to a survey, or fill out a form.</p>
            <br/><h5>Personal Information</h5>
            <p>Personal information is data that can be used to identify or contact a single person. The types of personal information we may collect include, but are not limited to:

Name
Email address
Mailing address
Phone number
Non-Personal Information
Non-personal information is data in a form that does not, on its own, permit direct association with any specific individual. We may collect non-personal information regarding your browser, computer, mobile device, or other device that you use to access our Site. This information may include your IP address, browser type, domain names, access times, and referring website addresses.
</p>
            <br/><h5>How I use Your Information</h5>
            <p>Compuhelp Enterprises uses the information collected from you for various pruposes:

To personalize your experience
To improve my Site
To improve customer service
To process transactions
To administer a contest, promotion, survey or other site feature
To send periodic emails
Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.
            </p>
            <br/><h5>How I protect Your Information</h5>
            <p>I implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information. These measures comply with Law 25's requirements for the protection of personal information.</p>
            <br/><h5>Sharing Your Personal Information</h5>
            <p>I do not sell, trade, or rent users' personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with my business partners, trusted affiliates, and advertisers for the purposes outlined above.</p>
            <br/><h5>Your Consent</h5>
            <p>By using my Site, you consent to my Privacy Policy.</p>
            <br/><h5>Changes to My Privacy Policy</h5>
            <p>Compuhelp Enterprises has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
            <br/><h5>Your Rights</h5>
            <p>Under Law 25, you have the right to access, update, and correct inaccuracies in your personal information in my custody and control, subject to certain exceptions prescribed by law. You may request access, updating, and corrections of inaccuracies in other personal information we have in my custody or control by emailing or writing to us at the contact information set out below.</p>
            <br/><h5>Contacting Me</h5>
            <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact me at:
Compuhelp Enterprises
+1 514 806-2982
<a href="/contacts">Contact Form</a></p>
            <p>This document was updated on: Mar, 11 2024</p>
        </article>
    </div>
</div>
<div>
</section>
{% endblock %}
