{% extends 'compuhelp-base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block page %}
<section class="section section-lg bg-white">
<div class="shell-wide">
<div class="range range-xs-center">
    <div class="cell-md-10 cell-lg-8 cell-xl-6 sections-collapsable">
        <article class="post-blog-article">
            <h3 class="Search_title text-center" >{{title}}</h3>
            <p>Bienvenue au <strong>Enterprises Compuhelp</strong> ("Je", "moi", "mon"). En accédant et en utilisant mon site Web situé à  <strong>compuhelp-enterprises.ca</strong>
                Le ("Site Internet"), vous acceptez de respecter et d'être lié par les conditions générales d'utilisation suivantes (« Conditions d'utilisation »). Ces conditions d'utilisation, ainsi que ma politique de confidentialité, régissent votre relation avec moi concernant ce site Web. Si vous n'êtes pas d'accord avec une partie de ces termes et conditions, veuillez ne pas utiliser mon site Web.</p>
                <br/>
            <ol class="search_list">
                <li class="result-item">
	                <h4 class="search_title text-center">Acceptation des conditions</h4>
                    <p>En utilisant le Site Internet, vous confirmez que vous acceptez les présentes Conditions d'utilisation et que vous vous engagez à les respecter. Ces conditions d'utilisation sont importantes et affectent vos droits légaux, veuillez donc les lire attentivement.</p>
                </li>
                <li class="result-item">

                    <h4 class="search_title text-center">Modifications des conditions d'utilisation</h4>
                    <p>Je me réserve le droit de modifier les présentes conditions d'utilisation à tout moment et sans préavis. Votre utilisation continue du site Web après toute modification signifie votre acceptation de mes conditions révisées. Je vous recommande de consulter régulièrement ces conditions d'utilisation.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Utilisation du site Web</h4>
                    <p>Ce site Web est fourni uniquement pour votre usage personnel et non commercial. Vous acceptez d'utiliser ce site Web uniquement à des fins licites et d'une manière qui ne porte pas atteinte aux droits, ne restreint pas ou n'empêche pas l'utilisation et la jouissance du site Web par quiconque.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Propriété intellectuelle</h4>
                    <p>Tout le contenu inclus sur le site Web, tel que les textes, graphiques, logos, images, téléchargements numériques, compilations de données et logiciels, est la propriété des
                         <strong>Entreprises Compuhelp</strong>
                         ou ses fournisseurs de contenu et protégé par les lois internationales sur le droit d'auteur. La compilation de tout le contenu de ce site est la propriété exclusive des
                         <strong>Entreprises Compuhelp</strong>.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Conduite de l'utilisateur</h4>
                    <p>Vous ne devez pas utiliser ce site Web d'une manière qui cause, ou pourrait causer, des dommages au site Web ou une altération de la disponibilité ou de l'accessibilité du site Web; ou de toute manière illégale, frauduleuse ou nuisible, ou en relation avec tout objectif ou activité illégal, frauduleux ou nuisible.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Avis de non-responsabilité</h4>
                    <p>Le site Web est fourni « TEL QUEL » et « TEL QUE DISPONIBLE » sans aucune représentation ou garantie, expresse ou implicite. Je ne garantis pas que le site Web sera disponible en permanence, ni disponible du tout; ou les informations sur ce site Web sont complètes, véridiques, exactes ou non trompeuses.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Limitation de responsabilité</h4>
                    <p>Dans la mesure permise par la loi, je ne serai pas responsable de tout dommage direct, indirect, spécial, accessoire, consécutif ou punitif de toute nature lié au site Web ou à votre utilisation de celui-ci, quelle que soit la nature de la réclamation ou la forme de action, qu'elle soit contractuelle, délictuelle (y compris la négligence), de garantie ou autre, même si j'ai été informé de la possibilité de tels dommages.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Indemnité</h4>
                    <p>Vous acceptez d'indemniser, de défendre et de dégager toute responsabilité
                         <strong>Les Entreprises Compuhelp</strong>, ses dirigeants, administrateurs, employés, agents, concédants de licence et fournisseurs contre toutes pertes, dépenses, dommages et coûts, y compris les honoraires d'avocat raisonnables, résultant de toute violation des présentes Conditions d'utilisation. Utilisation ou toute activité liée à votre compte (y compris une conduite négligente ou fautive) par vous ou toute autre personne accédant au site Web en utilisant votre compte Internet.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Liens vers d'autres sites Web</h4>
                    <p>Le site Web peut contenir des liens vers des sites Web de tiers qui ne nous sont pas affiliés. Je n'ai aucun contrôle et n'assume aucune responsabilité quant au contenu, aux politiques de confidentialité ou aux pratiques de tout site Web ou service tiers.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Loi applicable</h4>
                    <p>Ces conditions d'utilisation seront régies et interprétées conformément aux lois du
                         <strong>Québec</strong>, sans donner effet à aucun principe de conflits de lois.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Me Joindre</h4>
                    <p>Si vous avez des questions concernant les présentes Conditions d'utilisation, n'hésitez pas à me contacter via mon <a href="/fr/contacts"><strong>formulaire de contact</strong></a>.</p>
                    <p>En utilisant ce site Web, vous signifiez votre acceptation de ces conditions d'utilisation et acceptez de les respecter. Si vous n'acceptez pas ces conditions d'utilisation, veuillez vous abstenir d'utiliser mon site Web.</p>
                    <p><strong>Compuhelp</strong> se réserve le droit de modifier les présentes conditions d'utilisation à tout moment. Votre utilisation continue du site Web après toute modification signifiera que vous acceptez les modifications.</p>
                </li>
            </ol>
            <p>Dernière mise à jour: <strong>11 mars 2024</strong></p>
        </article>
    </div>
</div>
<div>
</section>
{% endblock %}
