{% extends 'compuhelp-base.html.twig' %}

{% block title %}Terms of Use{% endblock %}

{% block page %}
<section class="section section-lg bg-white">
<div class="shell-wide">
<div class="range range-xs-center">
    <div class="cell-md-10 cell-lg-8 cell-xl-6 sections-collapsable">
        <article class="post-blog-article">
            <h3 class="Search_title text-center" >Website Terms of Use</h3>
            <p>Welcome to <strong>Compuhelp Enterprises</strong> ("I", "me", "my"). By accessing and using my website located at  <strong>compuhelp-enterprises.ca</strong>
                ("Website"), you agree to comply with and be bound by the following terms and conditions of use ("Terms of Use"). These Terms of Use, together with my Privacy Policy, govern your relationship with me regarding this Website. If you disagree with any part of these terms and conditions, please do not use my Website.</p>
                <br/>
            <ol class="search_list">
                <li class="result-item">
	                <h4 class="search_title text-center">Acceptance of Terms</h4>
                    <p>By using the Website, you confirm that you accept these Terms of Use and that you agree to comply with them. These Terms of Use are important and affect your legal rights, so please read them carefully.</p>
                </li>
                <li class="result-item">

                    <h4 class="search_title text-center">Changes to Terms of Use</h4>
                    <p>I reserve the right to modify these Terms of Use at any time without prior notice. Your continued use of the Website following any changes signifies your acceptance of my revised terms. I recommend that you review these Terms of Use regularly.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Use of Website</h4>
                    <p>This Website is provided for your personal and non-commercial use only. You agree to use this Website only for lawful purposes and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the Website.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Intellectual Property</h4>
                    <p>All content included on the Website, such as text, graphics, logos, images, digital downloads, data compilations, and software, is the property of
                        <strong>Compuhelp Enterprises</strong>
                        or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of
                        <strong>Compuhelp Enterprises</strong>.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">User Conduct</h4>
                    <p>You must not use this Website in any way that causes, or may cause, damage to the Website or impairment of the availability or accessibility of the Website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Disclaimers</h4>
                    <p>The Website is provided on an "AS IS" and "AS AVAILABLE" basis without any representations or warranties, express or implied. I do not warrant that the Website will be constantly available, or available at all; or the information on this Website is complete, true, accurate, or non-misleading.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Limitation of Liability</h4>
                    <p>To the extent permitted by law, I will not be liable for any direct, indirect, special, incidental, consequential, or punitive damages of any kind related to the Website or your use thereof, regardless of the nature of the claim or the form of action, whether in contract, tort (including negligence), warranty, or otherwise, even if I have been advised of the possibility of such damages.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Indemnification</h4>
                    <p>You agree to indemnify, defend, and hold harmless
                        <strong>Compuhelp Enterprises</strong>, its officers, directors, employees, agents, licensors, and suppliers from and against all losses, expenses, damages, and costs, including reasonable attorneys' fees, resulting from any violation of these Terms of Use or any activity related to your account (including negligent or wrongful conduct) by you or any other person accessing the Website using your Internet account.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Links to Other Websites</h4>
                    <p>The Website may contain links to third-party websites that are not affiliated with us. I have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites or services.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Governing Law</h4>
                    <p>These Terms of Use shall be governed by and construed in accordance with the laws of
                        <strong>Québec</strong>, without giving effect to any principles of conflicts of law.</p>
                </li>
                <li class="result-item">
                    <h4 class="search_title text-center">Contact Me</h4>
                    <p>If you have any questions about these Terms of Use, please contact me using my <a href="/index.php/contacts"><strong>contact form</strong></a>.</p>
                    <p>By using this Website, you signify your acceptance of these Terms of Use and agree to adhere to them. If you do not agree to these Terms of Use, please refrain from using my Website.</p>
                    <p><strong>Compuhelp</strong> reserves the right to amend these Terms of Use at any time. Your continued use of the Website following any changes will mean that you accept and agree to the changes.</p>
                </li>
            </ol>
            <p>Date of Last Update: <strong>Mar, 11 2024</strong></p>
        </article>
    </div>
</div>
<div>
</section>
{% endblock %}
