{% props quote = null %}

<article class="quote-primary">
    <svg class="quote-primary-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
    <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5L7.539,10.206z"></path>
    </svg>
    <div class="quote-primary-text">
    <p>{{quote.content}}</p>
    </div>
    <p class="quote-primary-meta"><span>by</span><span class="cite">{{quote.author}}</span></p>
</article>
