<div{{ attributes }}>
  <!-- Page Footer-->
  <!-- Footer Default-->
  <footer class="section page-footer page-footer-default text-left bg-gray-darker">
    <div class="shell-wide">
      <div class="range range-50 range-xs-center">
        <div class="cell-sm-6 cell-lg-3">
          <div class="inset-xl">
            <h6>About Me</h6>
            <p class="text-spacing-sm">I know how to design and develop a website or app of
              any complexity. Regardless of what you are looking for, I can deliver a solution, which will
              elevate your business to unbelievable heights.</p>
          </div>
        </div>
        <div class="cell-sm-6 cell-lg-2">
          <h6>Quick Links</h6>
          <ul class="list-marked list-marked-primary">
            <li><a href="about-me">About Me</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="contact">Contact Me</a></li>
          </ul>
        </div>
        <div class="cell-sm-6 cell-lg-3">
          <h6>Contact Me</h6>
          <!-- RD Mailform-->
          <form class="rd-mailform rd-mailform-sm" data-form-output="form-output-global" data-form-type="contact"
            method="post" action="bat/rd-mailform.php">
            <div class="form-wrap form-wrap-validation">
              <input class="form-input" id="form-footer-name" type="text" name="name" data-constraints="@Required"
                autocomplete="name" />
              <label class="form-label" for="form-footer-name">Name</label>
            </div>
            <div class="form-wrap form-wrap-validation">
              <input class="form-input" id="form-footer-email" type="email" name="email"
                data-constraints="@Email @Required" autocomplete="email" />
              <label class="form-label" for="form-footer-email">E-mail</label>
            </div>
            <div class="form-wrap form-wrap-validation">
              <label class="form-label" for="form-footer-message">Message</label>
              <textarea class="form-input" id="form-footer-message" name="message"
                data-constraints="@Required"></textarea>
            </div>
            <div class="form-button">
              <button class="button button-sm button-primary" type="submit">Send message</button>
            </div>
          </form>
        </div>
      </div>
      <p class="right">&#169;&nbsp;<span class="copyright-year"></span> Compuhelp Enterprises, All Rights Reserved&nbsp;<a href="#">Terms of
          Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
    </div>
  </footer>
</div>
